<%= form_with(model: frame, local: true) do |form| %>
  <% if frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frame.errors.count, "error") %> prohibited this frame from being saved:</h2>

      <ul>
      <% frame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :frame_name %>
  </div>

  <div class="field">
    <%= form.label :frame_score %>
    <%= form.text_field :frame_score, id: :frame_frame_score %>
  </div>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.text_field :game_id, id: :frame_game_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
